<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Message Relay Monitoring</title>
    <link rel="icon" type="image/x-icon" href="../templates/assets/favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
</head>

<th:block layout:fragment="content">

    <h1>Message Relay Monitoring</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">목적지 이름</th>
            <th scope="col">목적지 타입</th>
            <th scope="col">목적지 상태</th>
            <th scope="col">최신 수신한 날짜</th>
            <th scope="col">Lag</th>
        </tr>
        </thead>

        <form
              th:action="@{/dashboard}" method="get">
            <tbody>
            <tr th:each="destination : ${destinationViews}">
                <td th:text="${destination.id}"></td>
                <td th:text="${destination.address}"></td>
                <td th:text="${destination.type}"></td>
                <td th:text="${destination.status}"></td>
                <td th:text="${destination.latestReliedAt}"></td>
                <td th:text="${destination.lag}"></td>
            </tr>
            </tbody>
            <p class="text-break"></p>
            <button type="submit" class="btn btn-primary top-50" value="결과 확인">새로 고침</button>
        </form>
    </table>
</th:block>
</html>
